<!-- navbar -->
<nav class="flex justify-between bg-gray-900 text-white w-screen">
    <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <a class="text-3xl font-bold font-heading" href="/"> E-Commerce </a>
        <!-- Nav Links -->
        <ul
            class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12"
        >
            <li><a class="hover:text-gray-200" href="/">Home</a></li>
        </ul>

        <!-- Header profile menu -->
        <% if (typeof username !== 'undefined' ) { %>
        <a
            href="/cart"
            class="text-white bg-pink-600 border rounded p-1 me-2 hover:text-gray-200"
            >Cart</a
        >
        <!-- button with dropdown on click for profile -->
        <select
            class="text-white bg-gray-900 border rounded p-1 hover:text-gray-200 cursor-pointer"
            onchange="location = this.value;"
        >
            <option selected value=""><%= username %></option>
            <option value="/changePassword">
                <a href="/ChangePassword">Change Password</a>
            </option>
            <option>
                <a href="/logout">Logout</a>
            </option>
        </select>
        <% } else { %>
        <a
            href="/login"
            class="text-white bg-green-600 border rounded p-1 hover:text-gray-200"
            >Login</a
        >
        <% } %>
    </div>
</nav>
