<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
    </head>
    <body>
        <div class="container flex justify-evenly items-center h-screen">
            <a href="/login">
                <button class="border p-2">Login</button>
            </a>
            <a href="/signUp">
                <button class="border p-2">SignUp</button>
            </a>
        </div>
    </body>
</html>
