<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Change Password</title>
		<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
	</head>
	<body>
		<div class="constainer flex justify-center items-center h-screen">
			<div>
				<form action="/resetPassword" method="POST">
					<div class="mb-4">
						<label for="password" class="sr-only">New Password</label>
						<input
							type="password"
							name="newPassword"
							id="password"
							placeholder="Enter new password"
							class="bg-gray-100 border-2 w-64 p-4 rounded-lg"
							value=""
							required />
					</div>
					<div class="mb-4">
						<label for="password" class="sr-only">Confirm Password</label>
						<input
							type="password"
							name="confirmPassword"
							id="confirmPassword"
							placeholder="Confirm new password"
							class="bg-gray-100 border-2 w-64 p-4 rounded-lg"
							value=""
							required />
					</div>

					<!-- display error message -->
					<% if (typeof errorMessage !== 'undefined') { %>
					<div class="text-red-500 mb-4 text-center"><%= errorMessage %></div>
					<% } %>

					<div id="errorDisplay" class="text-red-500 mb-4 text-center"></div>

					<div>
						<button
							type="submit"
                            onclick="return validateForm()"
							class="bg-blue-500 text-white px-4 py-3 mb-3 rounded font-medium w-64">
							Change Password
						</button>
					</div>
				</form>
			</div>
		</div>

        <script>
            function validateForm(){
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;

                // trim the values
                password = password.trim();
                confirmPassword = confirmPassword.trim();

                // check if password and confirmPassword are empty
                if (password == "" || confirmPassword == "") {
                    document.getElementById("errorDisplay").innerHTML = "Please fill in all fields.";
                    return false;
                }

                if (password != confirmPassword) {
                    document.getElementById("errorDisplay").innerHTML = "Passwords do not match.";
                    return false;
                }
                return true;
            }
        </script>
	</body>
</html>
